<!DOCTYPE html>
<html>
<head>
    <title>Company Registration</title>
</head>
<body>
    <h1>Company Registration</h1>
    <form method="post">
        {% csrf_token %}
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br>
        <label for="comp_name">Company Name:</label><br>
        <input type="text" id="comp_name" name="comp_name"><br>
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email"><br>
        <label for="website">Website:</label><br>
        <input type="url" id="website" name="website"><br>
        <input type="submit" value="Register">
      </form>
    <p>Already registered? <a href="{% url 'company_login' %}">Login</a></p>
</body>
</html>